<?php
/**
 * ConsignmentApi
 * PHP version 5
 *
 * @category Class
 * @package  ChrisHemmings\Electio
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Electio API
 *
 * A minimal Electio client
 *
 * OpenAPI spec version: 1.0.1
 * Contact: chris@hemmin.gs
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace ChrisHemmings\Electio\Client\Api;

use \ChrisHemmings\Electio\ApiClient;
use \ChrisHemmings\Electio\ApiException;
use \ChrisHemmings\Electio\Configuration;
use \ChrisHemmings\Electio\ObjectSerializer;

/**
 * ConsignmentApi Class Doc Comment
 *
 * @category Class
 * @package  ChrisHemmings\Electio
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ConsignmentApi
{
    /**
     * API Client
     *
     * @var \ChrisHemmings\Electio\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \ChrisHemmings\Electio\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\ChrisHemmings\Electio\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \ChrisHemmings\Electio\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \ChrisHemmings\Electio\ApiClient $apiClient set the API client
     *
     * @return ConsignmentApi
     */
    public function setApiClient(\ChrisHemmings\Electio\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createConsignment
     *
     * Create a consignment
     *
     * @param \ChrisHemmings\Electio\Client\Model\CreateConsignment $consignment Consignment to create (optional)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return \ChrisHemmings\Electio\Client\Model\CreateConsignmentResponse[]
     */
    public function createConsignment($consignment = null)
    {
        list($response) = $this->createConsignmentWithHttpInfo($consignment);
        return $response;
    }

    /**
     * Operation createConsignmentWithHttpInfo
     *
     * Create a consignment
     *
     * @param \ChrisHemmings\Electio\Client\Model\CreateConsignment $consignment Consignment to create (optional)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return array of \ChrisHemmings\Electio\Client\Model\CreateConsignmentResponse[], HTTP status code, HTTP response headers (array of strings)
     */
    public function createConsignmentWithHttpInfo($consignment = null)
    {
        // parse inputs
        $resourcePath = "/consignments";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($consignment)) {
            $_tempBody = $consignment;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ChrisHemmings\Electio\Client\Model\CreateConsignmentResponse[]',
                '/consignments'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\ChrisHemmings\Electio\Client\Model\CreateConsignmentResponse[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ChrisHemmings\Electio\Client\Model\CreateConsignmentResponse[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ChrisHemmings\Electio\Client\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getConsignment
     *
     * Fetch a consignment by reference
     *
     * @param string $consignment_reference Consignment to create (required)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return \ChrisHemmings\Electio\Client\Model\Consignment
     */
    public function getConsignment($consignment_reference)
    {
        list($response) = $this->getConsignmentWithHttpInfo($consignment_reference);
        return $response;
    }

    /**
     * Operation getConsignmentWithHttpInfo
     *
     * Fetch a consignment by reference
     *
     * @param string $consignment_reference Consignment to create (required)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return array of \ChrisHemmings\Electio\Client\Model\Consignment, HTTP status code, HTTP response headers (array of strings)
     */
    public function getConsignmentWithHttpInfo($consignment_reference)
    {
        // verify the required parameter 'consignment_reference' is set
        if ($consignment_reference === null) {
            throw new \InvalidArgumentException('Missing the required parameter $consignment_reference when calling getConsignment');
        }
        // parse inputs
        $resourcePath = "/consignments/{consignmentReference}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($consignment_reference !== null) {
            $resourcePath = str_replace(
                "{" . "consignmentReference" . "}",
                $this->apiClient->getSerializer()->toPathValue($consignment_reference),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ChrisHemmings\Electio\Client\Model\Consignment',
                '/consignments/{consignmentReference}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\ChrisHemmings\Electio\Client\Model\Consignment', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ChrisHemmings\Electio\Client\Model\Consignment', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getConsignmentSummary
     *
     * Fetch a summary of consignment statuses
     *
     * @param \DateTime $start_from Start date range (optional)
     * @param \DateTime $end_at End date range (optional)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return \ChrisHemmings\Electio\Client\Model\SummaryResponse
     */
    public function getConsignmentSummary($start_from = null, $end_at = null)
    {
        list($response) = $this->getConsignmentSummaryWithHttpInfo($start_from, $end_at);
        return $response;
    }

    /**
     * Operation getConsignmentSummaryWithHttpInfo
     *
     * Fetch a summary of consignment statuses
     *
     * @param \DateTime $start_from Start date range (optional)
     * @param \DateTime $end_at End date range (optional)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return array of \ChrisHemmings\Electio\Client\Model\SummaryResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getConsignmentSummaryWithHttpInfo($start_from = null, $end_at = null)
    {
        // parse inputs
        $resourcePath = "/consignments/summary";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($start_from !== null) {
            $queryParams['startFrom'] = $this->apiClient->getSerializer()->toQueryValue($start_from);
        }
        // query params
        if ($end_at !== null) {
            $queryParams['endAt'] = $this->apiClient->getSerializer()->toQueryValue($end_at);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ChrisHemmings\Electio\Client\Model\SummaryResponse',
                '/consignments/summary'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\ChrisHemmings\Electio\Client\Model\SummaryResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ChrisHemmings\Electio\Client\Model\SummaryResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation searchConsignments
     *
     * Search for consignments
     *
     * @param int $take Number of records to get? (required)
     * @param int $skip Number of records to skip (required)
     * @param string $creference Carrier reference (optional)
     * @param string $state Consignment state (optional)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return \ChrisHemmings\Electio\Client\Model\ConsignmentSearchResponse[]
     */
    public function searchConsignments($take, $skip, $creference = null, $state = null)
    {
        list($response) = $this->searchConsignmentsWithHttpInfo($take, $skip, $creference, $state);
        return $response;
    }

    /**
     * Operation searchConsignmentsWithHttpInfo
     *
     * Search for consignments
     *
     * @param int $take Number of records to get? (required)
     * @param int $skip Number of records to skip (required)
     * @param string $creference Carrier reference (optional)
     * @param string $state Consignment state (optional)
     * @throws \ChrisHemmings\Electio\ApiException on non-2xx response
     * @return array of \ChrisHemmings\Electio\Client\Model\ConsignmentSearchResponse[], HTTP status code, HTTP response headers (array of strings)
     */
    public function searchConsignmentsWithHttpInfo($take, $skip, $creference = null, $state = null)
    {
        // verify the required parameter 'take' is set
        if ($take === null) {
            throw new \InvalidArgumentException('Missing the required parameter $take when calling searchConsignments');
        }
        // verify the required parameter 'skip' is set
        if ($skip === null) {
            throw new \InvalidArgumentException('Missing the required parameter $skip when calling searchConsignments');
        }
        // parse inputs
        $resourcePath = "/consignments/{take}/{skip}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($creference !== null) {
            $queryParams['Creference'] = $this->apiClient->getSerializer()->toQueryValue($creference);
        }
        // query params
        if ($state !== null) {
            $queryParams['State'] = $this->apiClient->getSerializer()->toQueryValue($state);
        }
        // path params
        if ($take !== null) {
            $resourcePath = str_replace(
                "{" . "take" . "}",
                $this->apiClient->getSerializer()->toPathValue($take),
                $resourcePath
            );
        }
        // path params
        if ($skip !== null) {
            $resourcePath = str_replace(
                "{" . "skip" . "}",
                $this->apiClient->getSerializer()->toPathValue($skip),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\ChrisHemmings\Electio\Client\Model\ConsignmentSearchResponse[]',
                '/consignments/{take}/{skip}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\ChrisHemmings\Electio\Client\Model\ConsignmentSearchResponse[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ChrisHemmings\Electio\Client\Model\ConsignmentSearchResponse[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\ChrisHemmings\Electio\Client\Model\ResponseError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
